<!-- contact.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Developer</title>
    <!-- Add CSS styles here -->
    <style>
      /* CSS styles */
    </style>
  </head>
  <body>
    <main>
      <h1>Contact Developer</h1>
      <div class="contact-info">
        <p><strong>Name:</strong> Bhargav Raval</p>
        <p><strong>Phone:</strong> 7359186218</p>
        <p><strong>Email:</strong> bhargavraval27473@gmail.com</p>
        <p><strong>About Me:</strong></p>
        <p>
          I am a passionate and hardworking web development. I am committed to
          contributing to company objectives and making meaningful contributions
          to team initiatives. With excellent communication skills and strong
          leadership qualities, I excel in a collaborative corporate
          environment. <br />

          My dedication to leveraging my technical expertise aims to contribute
          to the growth of companies in India and drive technological progress.
          I am deeply committed to fostering innovation and technical
          development in the nation. <br />

          In addition to my professional interests, I am also very patriotic and
          enjoy writing articles and giving speeches. Through my blog, I aim to
          share my insights on web development, as well as my thoughts on
          various topics that inspire me. <br />

          Thank you for visiting, and I hope you find my posts engaging and
          informative!
        </p>
      </div>
      <div class="additional-info">
        <h2>Connect with Us</h2>
        <!-- Add social media links or other interactive elements here -->
        <p>Follow us on:</p>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/bhargav-raval-58ab94258/"
              >LinkedIn</a
            >
          </li>
          <li><a href="https://github.com/BhargavRaval15">GitHub</a></li>
        </ul>
        <!-- Add more content here -->
      </div>
    </main>
  </body>
</html>
